*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    }
body{
    
}
.navContainer{
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    position:fixed;
    
}
.topnav{
    display: inline-flex;
    margin-right: 8rem;
    
}

.topnav a{
    text-decoration: none;
    margin-left: 4rem;
    font-size: 1.5rem;
    color: white;
    transition: 0.2;
    
}

.topnav a:hover{
    color: bisque;

    
}

.logo{
    position: relative;
    right: 25%;
    font-weight: 900;
    font-size: 3rem;
   
    
}
.logo a{     
    color: white;
    text-decoration: none;
    
    
    }

.landingPage{
    background-image: url('assets/landingPageBackground1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.landing-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingPage-content{
    background: rgba(23, 23, 23, 0.5);
    padding-top: 6rem;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    bottom: 1rem;
    color: beige;
    width: 40%;
}

.landingPage-content span{
    color: rgb(254, 144, 26);
    font-size: 3rem;
}

.landingPage-content h1{
font-size: 2rem;

}
.landingPage-content h2{
    font-size: 3rem;
    
    }

    .landingPage-content p{
        font-size: 1.5rem;
        
        }

.buttonAppointment{
    
        padding: 4%;
        margin-left: 40%;
        margin-top: 5%;
        font-weight: 600;
        font-style: inherit;
        font-size: 1.5rem;
        border-radius: 50px;
        background-color:  #e4e3e3;
        color: rgb(0, 0, 0);
        transition-duration: 0.2s;
        cursor: pointer;
        border:none; 
      
}
.buttonAppointment:hover {
      background-color: rgb(226, 130, 26);
        color: white;
        box-shadow: 0px 2px 10px 10px rgb(226, 130, 26, 0.2);
}
.left-img{
    width: 50%;
}

@media(max-width:1000px) and (min-width:200px){
    .landingPage{
        height: 100%;
    }
    
    .landing-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
    }
    .landingPage-content{
        padding-bottom: 4%;
        padding-right: 4%;
    }
    .buttonAppointment{
        margin-left: 0;
    }
}